declaracoes:
	pushi 5
	pushn 5
	pushi 0
	pushi 0
	pushi 0
	pushi 0
	pushi 0

start

main:
Label0:
	pushg 6
	pushg 0
	inf
	jz EndLabel0
	pushgp
	pushi 1
	padd
	pushg 6
	read
	atoi
	storen 

	pushg 6
	pushi 1
	add
	storeg 6

	jump Label0
EndLabel0:

	pushs "a ordenar...\n"
	writes

	pushi 0
	storeg 6

	pushg 0
	pushi 1
	sub
	storeg 10

Label4:
	pushg 6
	pushg 10
	inf
	jz EndLabel4
	pushg 6
	storeg 9

	pushg 6
	pushi 1
	add
	storeg 7

Label2:
	pushg 7
	pushg 0
	inf
	jz EndLabel2
	pushgp
	pushi 1
	padd
	pushg 7
	loadn
	pushgp
	pushi 1
	padd
	pushg 9
	loadn
	sup
	jz Label1
	pushg 7
	storeg 9

Label1:

	pushg 7
	pushi 1
	add
	storeg 7

	jump Label2
EndLabel2:

	pushg 6
	pushg 9
	equal
	jz Label3
	jump EndLabel3
	Label3:
	pushgp
	pushi 1
	padd
	pushg 6
	loadn
	storeg 8

	pushgp
	pushi 1
	padd
	pushg 6
	pushgp
	pushi 1
	padd
	pushg 9
	loadn
	storen 

	pushgp
	pushi 1
	padd
	pushg 9
	pushg 8
	storen 

EndLabel3
	pushg 6
	pushi 1
	add
	storeg 6

	jump Label4
EndLabel4:

	pushi 0
	storeg 6

Label5:
	pushg 6
	pushg 0
	inf
	jz EndLabel5
	pushgp
	pushi 1
	padd
	pushg 6
	loadn
	writei

	pushs "\n"
	writes

	pushg 6
	pushi 1
	add
	storeg 6

	jump Label5
EndLabel5:

stop
